/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* color
#fafafa 白
#0F1111 黒
#2e3740 青黒
#d8d8d8 グレー
#f8f8f8 ライトグレー
#3eb370 緑
#a6cfe9　水色
 */

@import "reset";

 * {
   box-sizing: border-box;
   table-layout: fixed;
 }

 html {
   height: 100%;
 }

 body {
   margin: 0;
   line-height: 1.7;
   letter-spacing: 1px;
   height: 100%;
   background-color: #f8f8f8;
   color: #2e3740;
   font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "Meiryo",
    sans-serif;
 }

 div {
   display: block;
 }

 ul, li {
   list-style-type: none;
   padding: 0;
   margin: 0;
 }

 a {
   text-decoration: none;
   color: #2e3740;
   font-size: 14px;
 }

 h1, h2 {
   font-weight: normal;
 }

 .flash {
   color: #fafafa;
   background: rgb(62,179,112);
background: linear-gradient(90deg, rgba(62,179,112,1) 26%, rgba(75,200,168,1) 100%);
   text-align: center;
   padding: 5px;
 }

 .cont {
   max-width: 1260px;
   min-height: 90vh;
   margin-left: auto;
   margin-right: auto;
   padding-left: 5%;
   padding-right: 5%;
 }

 .inner {
   width: 80%;
   margin-left: auto;
   margin-right: auto;
 }

 .title {

 }

 .form_label {
   margin-bottom: 10px;
   display: block;
   text-align: left;
   font-weight: bold;
 }

 .form_btn {
   padding: 10px;
   outline: none;
   width: 300px;
   height: 50px;
   font-size: 17px;
   color: #fafafa;
   border-radius: 5px;
   transition-property: background-color, color;
   transition-duration: 0.3s;
 }

 .form_btn_a {
   margin-top: 5px;
   background-color: #3eb370;
 }

 .form_btn_a:hover {
   color: #3eb370;
   border: 1px solid #3eb370;
   background-color: #fafafa;
 }

 .form_btn_b {
   margin-top: 10px;
   background-color: #2e3740;
 }

 .form_btn_b:hover {
   color: #2e3740;
   border: 1px solid #2e3740;
   background-color: #fafafa;
 }

 .user_avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

 /* header */
 .header_wrapper {
   background-color: #fafafa;
 }

 .header_inner {
   max-width: 1260px;
   height: 65px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .header_logo img {
   width: 90px;
   margin-top: 5px;
 }

 .header_nav {
 }

 .header_menus {
   display: flex;
   position: relative;
   justify-content: center;
   align-items: center;
 }

 .header_menus li {
   margin-left: 15px;
 }

 .header_menus a {
   display: block;
   padding: 8px;
   height: 100%;

 }

 .header_new_btn {
   background-color: #3eb370;
   color: #fafafa;
   border-radius: 5px;
   width: 70px;
   text-align: center;
 }

 .fa-pen-fancy {
   margin-right: 2px;
 }

 .header_new_btn p {
   display: inline-block;
 }

 .header_avatar img {
   width: 35px;
   height: 35px;
   border-radius: 50px;
   margin-top: 8px;
   cursor: pointer;
 }

 .accoedion {

 }

 .accordion_cont {
   position: absolute;
   top: 52px;
   text-align: left;
   line-height: 0;
   height: 0;
   width: 150px;
   overflow: hidden;
   opacity: 0;
   transition-duration: 0.4s;
 }

 .accordion_cont.is-open {
   opacity: 1;
   border: 1px solid #d8d8d8;
   background-color: #fafafa;
   padding: 3px;
   line-height: normal;
   height: auto;
}

.accordion_new_btn {
  display: none !important;
}



 /* footer */
.footer_wrapper {
  min-height: 200px;
  margin-top: 100px;
  padding-top: 50px;
  background-color: #fafafa;
  border-top: 1px solid #d8d8d8;
  text-align: center;
}

.footer_logo img {
  width: 200px;
}


/* responsive */
@media (max-width: 1024px) {
  .cont {
    min-height: 70vh;
  }

  /* top */
  .top_wrapper {
    display: block;
    margin-bottom: 50px;
    
  }

  .top_inner {
    max-width: 880px;
    min-height: 50vh;
    background-size: 50%;
  }

  .top_title {
    padding-top: 0px;
  }

}

@media (max-width: 599px) {
  .cont {
    max-width: 100%;
    padding: 1%;
    min-height: 50vh;
  }

  /* header */
  .header_new_btn {
    display: none !important;
  }

  .accordion_cont {
    right: 5%;
    width: 200px;
  }

  .accordion_new_btn {
    display: inline-block !important;
  }

  /* top */
  .top_wrapper {
    margin-bottom: 0;
  }

  .top_inner {
    background-image: none;
    min-height: 80vh;
  }

  .top_box {
    width: 90%;
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }

  .top_btn {
    width: 90%;
  }

  /* post */
  .post_input_con {
    height: 200px;
  }

  .post_contents h3 {
    font-size: 17px;
    margin-bottom: 15px;
  }

  .post_contents {
    padding-bottom: 40px;
  }

  /* user */
  .user_inner {
    text-align: center;
  }
}
