/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* color
#fff 白
#2e3740 黒
#d8d8d8 グレー
#f6f6f4 ライトグレー
#009944 緑
#64d898 明るい緑
#64d898 イエロー

  */

@import "reset";

 * {
   box-sizing: border-box;
   table-layout: fixed;
 }

 html {
   height: 100%;
 }

 body {
   margin: 0;
   line-height: 1.7;
   letter-spacing: 1px;
   height: 100%;
   background-color: #f6f6f4;
   color: #2e3740;
   font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "Meiryo",
    sans-serif;
 }

 div {
   display: block;
 }

 ul, li {
   list-style-type: none;
   padding: 0;
   margin: 0;
 }

 a {
   text-decoration: none;
   color: #009944;
   font-size: 0.875rem;
 }

 a:hover {
  color: #64d898;
}

 h1, h2 {
 }

 .flash {
   color: #fff;
   background-color: #64d898;
   text-align: center;
   padding: 5px;
 }

 .form_label {
   margin-bottom: 10px;
   display: block;
   text-align: left;
   font-weight: bold;
 }

 .form_btn {
  padding: 10px;
  outline: none;
  width: 300px;
  height: 45px;
  font-size: 1rem;
  color: #fff;
}

 .user_avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

 /* header */
 .header_wrapper {
  background-color: #ffffff;
  border-bottom: 1px solid #d8d8d8;
 }

 .header_inner {
   max-width: 800px;
   height: 65px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 20px;
   padding-right: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .header_logo img {
   width: 90px;
   margin-top: 5px;
 }

 .header_nav {
 }

 .header_menus {
   display: flex;
   position: relative;
   justify-content: center;
   align-items: center;
 }

 .header_menus li {
   margin-left: 15px;
 }

 .header_menus a {
   display: block;
   padding: 8px;
   height: 100%;
   color: #009944;
 }

 .header_menus a:hover {
   color: #64d898;
 }

 .header_new_btn {
   background-color: #009944;
   color: #fff!important;
   border-radius: 5px;
   width: 75px;
   text-align: center;
   transition-property: background-color;
   transition-duration: 0.3s;
   font-weight: bold;
 }

 .header_new_btn:hover {
   background-color: #64d898;
 }

 .fa-pen-fancy {
   margin-right: 2px;
 }

 .header_new_btn p {
   display: inline-block;
 }

 .header_avatar img {
   width: 35px;
   height: 35px;
   border-radius: 50px;
   margin-top: 8px;
   cursor: pointer;
 }

 .accordion_cont {
   position: absolute;
   top: 52px;
   text-align: left;
   line-height: 0;
   height: 0;
   width: 150px;
   overflow: hidden;
   opacity: 0;
   transition-duration: 0.4s;
 }

 .accordion_cont.is-open {
   opacity: 1;
   border: 1px solid #d8d8d8;
   background-color: #fff;
   padding: 3px;
   line-height: normal;
   height: auto;
}

.accordion_new_btn {
  display: none !important;
}


 /* footer */
.footer_wrapper {
  min-height: 200px;
  margin-top: 100px;
  padding-top: 50px;
  background-color: #fff;
  border-top: 1px solid #d8d8d8;
  text-align: center;
}

.footer_inner {
  display: flex;
  justify-content: center;
}

footer p {
  margin-right: 10px;
  color: #2e3740;
  font-weight: bold;
}

footer small {
  color: #2e3740;
}

.footer_logo img {
  width: 180px;
}


/* responsive */
@media (max-width: 1025px) {
  .post_index_inner {
    min-height: 70vh;
  }

  .user_index_inner

  /* top */
  .top_wrapper {
    margin-bottom: 50px;
    
  }

  .top_inner {
    min-height: 40vh;
    margin-left: auto;
    margin-right: auto;
  }

  .top_title {
    padding-top: 0px;
  }

}

@media (max-width: 599px) {
  .cont {
    
  }

  /* header */
  .header_new_btn {
  }

  .accordion_cont {
    right: 5%;
    width: 150px;
  }

  /* top */
  .top_wrapper {
    margin-bottom: 0;
  }

  .top_inner {
    min-height: 60vh;
  }

  .top_box {
  }

  .top_title {
    font-size: 1.5rem;
  }

  .top_about {
    font-size: 1rem;
  }

  .top_btn {
    width: 70%;
  }

  /* post */
  .post_inner {
    max-width: 100%;
    padding: 2%;
  }

  .index_inner {
    min-height: 50vh;
  }

  .post_input_con {
    height: 200px;
  }

  .post_contents h3 {
    font-size: 1rem;
    margin-bottom: 15px;
  }

  .post_contents {
    padding-bottom: 40px;
  }

  /* user */
  .login_inner {
    max-width: 100%;
    padding: 2%;
  }

  .user_show_box {
    justify-content: center;
  }

  .user_show_bottom {
    text-align: center;
  }
}
