// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* top */
.top_wrapper {
  background-color: #fff;
  color: #009944;
  padding-top: 100px;
}

.top_inner {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  display: flex;
}

.top_image {
  width: 70%;
}

.top_image img {
  width: 90%;
}

.top_about {
  padding: 2%;
  text-align: left;
}

.top_about img {
  width: 160px;
  margin-bottom: 30px;
}

.top_title {
  margin-bottom: 15px;
  font-size: 1.6rem;
}

.top_body {
  font-size: 1rem;
  margin-bottom: 30px;
  line-height: 2.2;
}

.top_btn {
  width: 200px;
  height: 50px;
  background-color: #009944;
  transition-property: background-color, color;
  transition-duration: 0.3s;
  margin-top: 8px;
  color: #fafafa!important;
}

.top_btn:hover {
  background-color: #2e3740;
}

.top_index {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.top_index_ul {
  border-left: 6px solid #009944;
  margin-top: 40px;
}

.top_index_ul li {
  margin: 6px 10px;
}

.top_index_ul li p{
  display: inline-block;
}

.top_index_ul li p:hover {
  background-color: #f3f3f3;
}