// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* top */

.top_wrapper {
  
}

.top_inner {
  /*background-image: image-url("top-bgi.jpg");
  background-size: cover;*/
  background-color: #fff;
  min-height: 70vh;
  padding: 7%;
}

.top_box {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  color: #2e3740;
}

.top_about {
  text-align: center;
}

.top_title {
  margin-bottom: 15px;
  font-size: 2.5rem;
  font-weight: bold;
  /*filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.6));*/
}

.top_body {
  font-size: 1.2rem;
  margin-bottom: 20px;
  /*filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.6));*/
}

.top_btns {
  text-align: center;
}

.top_btn {
  width: 200px;
  height: 50px;
  /*border: 2px solid #fff;*/
  transition-property: background-color, color;
  transition-duration: 0.3s;
  background-color: #009944;
  color: #fff!important;
  /*filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.6));*/
}

.top_btn:hover {
  background-color: #00cc5c;
  /*background-color: rgba(255, 255, 255, 0.3);*/
}

/* about */
.about_wrapper {
  background-color: #009944;
}

.about_inner {
  display: flex;
}

.about_left img {
  width: 800px;
}

/* top_index */

.top_index {
  width: 800px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.privacy_inner {
  width: 60%;
  font-weight: normal;
  margin-bottom: 20px;
}

.privacy_inner h2,
.privacy_inner h3 {
  margin: 10px;
}

.privacy_inner p {
  margin-bottom: 10px;
}
