// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* top */

.top_inner {
  /*background-image: image-url("top-bgi.jpg");
  background-size: cover;*/
  background-color: #f6f6f4;
  min-height: 70vh;
  padding: 7%;
}

.top_box {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  color: #2e3740;
}

.top_about {
  text-align: center;
  font-weight: bold;
}

.top_title {
  border-bottom: 6px solid #64d898;
  background-color: #fff;
  display: inline-block;
  margin-bottom: 15px;
  padding: 2%;
  font-size: 2.5rem;
  /*filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.6));*/
}

.top_body {
  font-size: 1.2rem;
  margin-bottom: 20px;
  /*filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.6));*/
}

.top_btns {
  text-align: center;
}

.top_btn {
  width: 200px;
  height: 50px;
  transition-property: background-color, color;
  transition-duration: 0.3s;
  background-color: #009944;
  color: #fff!important;
  font-weight: bold;
}

.top_btn:hover {
  background-color: #64d898;
}

/* about */
.about_wrapper {
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #fff;
}


.about_inner {
  margin-bottom: 80px;
  text-align: center;
  
}

.about_inner h1 {
  font-size: 3rem;
  margin-bottom: 40px;
}

.about_img {
  padding: 3%;
  border-radius: 10px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: #64d898;
}

.about_img img {
  width: 700px;
}

.about_text {
  padding: 3%;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.about_text h2 {
  margin-bottom: 20px;
  border-bottom: 4px solid #64d898;
  display: inline-block;
}

.about_text p {
  color: #787878;
}

/* top_index */

.top_index {
  width: 800px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.privacy_inner {
  width: 60%;
  font-weight: normal;
  margin-bottom: 20px;
}

.privacy_inner h2,
.privacy_inner h3 {
  margin: 10px;
}

.privacy_inner p {
  margin-bottom: 10px;
}
