// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* login_form */
.login_wrapper {
  min-height: 80vh;
}

.login_inner {
  padding: 2%;
  background-color: #fafafa;
  border: 1px solid #d8d8d8;
  width: 400px;
  text-align: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.login_title {
  margin-bottom: 30px;
  font-size: 1.25rem;
  text-align: left;
}

.login_form {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.login_input {
  width: 100%;
  padding: 7px;
  margin-bottom: 25px;
  border: 1px solid #d8d8d8;
}

.login_input:focus {
  border-color: #009944;
  outline: none;
}

.login_form_btn {
  transition-property: background-color, color;
  transition-duration: 0.3s;
  margin-top: 10px;
  background-color: #009944;
}

.login_form_btn:hover {
  background-color: #2e3740;
}

.signin_form_btn {
  transition-property: background-color, color;
  transition-duration: 0.3s;
  margin-top: 5px;
  background-color: #007d95;
}

.signin_form_btn:hover {
  background-color: #2e3740;
}

/* user_show */
.user_inner {

}

.user_inner img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.user_bottom {
  text-align: right;
}

.user_index_inner {
  margin-top: 20px;
}
